header{
    background-color: rgb(211, 210, 210);
    margin: 2px;
    padding: 10px;
}
h1{
    text-align: center;

}

header img{
    width: 150px;
    height: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    
    text-align: right;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

nav ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}