header{
    background-color: rgb(211, 210, 210, 0.705);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
main h1{
    text-align: center;
}

main h2{
    text-align: center;
}

header img{
    width: 150px;
    height: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

nav a:hover{
    background-color: rgba(185, 185, 185, 0.507);
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.card{
    border: 1px solid rgba(119, 119, 119, 0.548);
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.card button{
    border: none;
    background-color: white;

}

.card button:hover{
    color: rgb(0, 128, 85);
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: rgba(211, 210, 210, 0.705);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}